body{
  text-align: center;
  background-color: seashell;

}
.content-div{
  text-align: left;
}
.nav-btn{
  width: 150px;
  height: 40px;
  margin: 20px 30px 20px 30px;
  border-radius: 12px;
  font-size: 24px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border:none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  text-shadow: none;
  overflow: hidden;
  color: #fff;
  background-color: rgb(149, 211, 50);
}
.nav-btn:active{
  box-shadow: 0 3px #666;
}
.App{
 margin: 0 auto;
}
h1{
  
}
.pln-div,.pepl-div{
  display: flex;
  flex: content;
  justify-content: space-between;
}




