body {
  text-align: center;
  background-color: seashell;
}

.content-div {
  text-align: justify;
}
.title{
  display: flex;
  flex:content;
  justify-content: center;
  text-align: center;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #711ae2;
  box-shadow: 3px 1px 10px #cf77f3, 0px 1px 10px #009bff, -2px 1px 10px #2ac9db;
  background-image: linear-gradient(
    -10deg,
    #d4ace4 3%,
    #44b4ff 47%,
    #05e6ff 100%
  );
  width: 300px;
  border-radius: 7px;
}
.nav-btn {
  width: 150px;
  height: 40px;
  margin: 20px 30px;
  padding: 5px;
  border-radius: 12px;
  font-size: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-shadow: none;
  text-align: center;
  color: #fff;
  background-color: #20b4bf;
  background-image: linear-gradient(250deg, #20bf9d 0%, #01baef 74%);
}

.nav-btn:hover {
  box-shadow: 3px 1px 10px #cf77f3, 0px 1px 10px #009bff, -2px 1px 10px #2ac9db;
  background-image: linear-gradient(
    -10deg,
    #cf77f3 0%,
    #009bff 47%,
    #2ac9db 100%
  );
}

.App {
  margin: 0 auto;
}

.person-item,
.planet-item {
  width: 1000px;
  background-color: rgb(231, 214, 168);
  margin: 10px 0;
  border-radius: 10px;
  line-height: 10px;
  padding: 10px 10px;
}

.pln-div,
.pepl-div {
  display: flex;
  flex: content;
  justify-content: space-around;
}

.icon {
  padding-right: 5px;
  height: 14px;
  width: 5px;
}

.next,
.previous {
  font-weight: bold;
  margin: 10px 20px;
  padding: 5px 10px 5px 10px;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: rgb(122, 118, 118);
  background-color: seashell;
  border-radius: 5px;
  border-color: seashell;
}
.previous:hover {
  background-color: rgb(13, 149, 228);
  color: white;
  cursor: pointer;
}

.next:hover {
  background-color: rgb(13, 149, 228);
  color: white;
  cursor: pointer;
}

.nmb_btn {
  font-weight: bold;
  margin: 0 5px 0 0;
  padding: 5px 5px;
  min-width: 1.8rem;
  border: 0;
  font-size: 20px;
  color: rgb(122, 118, 118);
  background-color: rgb(224, 214, 214);
  border-radius: 50%;
  border-color: black;
}

.nextpage {
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}

.previous:disabled,
.next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
